#numpy
#scipy
absl-py
#gym[mujoco]<=0.24
gdown
tqdm
flax
jax-metal
ml_collections
optax
tensorboardX
tensorflow-probability
imageio
imageio-ffmpeg
d4rl @ git+https://github.com/rail-berkeley/d4rl@master#egg=d4rl
